<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org"
    xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>StockShoes</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:fragment="header" class="header">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid h1 display-4" >
                    <a class="navbar-brand" th:href="@{/}">Administrador</a>
                </div>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <div class="container-fluid h4">
                        <li class="nav-menu-item">
                            <a class="navbar-brand" th:href="@{/cliente/listado}">Clientes Registrados</a>
                        </li>
                    </div>
                    <div class="container-fluid h4">
                        <li class="nav-menu-item">
                            <a class="navbar-brand" th:href="@{/categoria/listado}">Categorias de Sneackers</a>
                        </li>
                    </div>
                     <div class="container-fluid h4">
                    <li class="nav-menu-item">
                        <a class="navbar-brand" th:href="@{/articulo/listado}">Sneackers</a>
                    </li>
                          </div>
                </ul>
            </nav>            
        </header>

        <footer th:fragment="footer" class="footer">
            <p>&COPY; Derechos Reservados 2022</p>            
        </footer>
    </body>
</html>
